button{
    display: none;
    border: 0;
}

#clinica {
    margin-bottom: 0px;
    margin-left: 5px;
}

.fullscreen{    
    background-color: rgb(20, 20, 20);
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes{    
    width: 100px;
    position: absolute;
    color: black;        
    list-style: none;        
    margin-top: 8px;            
}

.opcoes>li:hover{
    font-weight: bold;
}

main{
    background-image: url(imgs/wallpaper.jpg);
    background-size: cover;    
    background-position: center;
    height: 100vh;
    width: 100vw;    
}

footer{
    margin-top: -24px;        
}
footer>p{
    margin: 0;
}

@media (max-width: 991px) {
    button{        
        display: inline-block;
    }
}