#menu{
    display: none;
    border: 0;
}

#clinica {
    margin-bottom: 0px;
    margin-left: 5px;
}

.fullscreen {
    background-color: rgb(20, 20, 20);
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fullscreen {
    background-color: rgba(20, 20, 20, 0.4);
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes {
    width: 100px;
    position: absolute;
    color: black;
    list-style: none;
    margin-top: 8px;
}

.opcoes>li:hover {
    font-weight: bold;
}

main {    
    background-size: auto;
    background-position: center;    
    height: calc(100vh - 56px);    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: -50px;
}

footer {
    margin-top: -24px;
}

footer>p {
    margin: 0;
}

aside{
    top: 55px;    
}

.close:hover{
    background-color: white;
    border-radius: 50%;
    color: #fa7481;
}

.tamaho{
    width: 50%;
}

table{
    width: 70%;
    text-align: center;
}

thead>tr>th{
    width: 20%;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.185);        
}

thead>tr>th:last-child{
    width: 40%;
}

tbody>tr{
    border-top: 1px solid gray;    
}

tbody>tr>td{
    padding: 7px 0 7px 0;
}

#consultasTabela>thead>tr>th{
    width: 25%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;    
  }

.teste{
    height: 500px;
    background-color: gray;
}

@media (max-width: 991px) and (min-width: 768px){
    #menu{
        display: inline-block;
    }
    #navbar-links{
        margin-top:8px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.20);
    }
    .opcoes {
        width: 100px;
        position: absolute;        
        color: black;
        list-style: none;
        margin-top: 25px;
        display: inline-block;
        transform: translateX(-92%);
    }
    .tamaho{
        width: 75%;
    }
}

@media (max-width: 767px){
    #menu{
        display: inline-block;
    }
    #navbar-links{
        margin-top:8px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.20);
    }
    .opcoes {
        width: 100px;
        position: absolute;        
        color: black;
        list-style: none;
        margin-top: 25px;
        display: inline-block;
        transform: translateX(-92%);
    }
    .tamaho{
        width: 90%;
    }
}